.gameCard {
  width: 100%;
  max-width: 600px;
  border: 3px solid #42b983;
  margin: auto;
  height: 50vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 4rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: center;

  span {
    font-weight: 500;
    margin-bottom: 2.5rem;
    font-family: monospace;
    font-size: 24px;
    text-shadow: 1px 1px 3px #42b983;
  }

  .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition-duration: 3s;
    flex-direction: column;

    h1 {
      margin-bottom: 2rem;
    }
  }

  .measure {
    position: absolute;
    top: 92px;
    left: 35px;
    font-size: 45px;
    color: #42b983;
    text-shadow: 0px 1px 2px black;
    transition-duration: 1s;

    @media(max-width: 500px) {
      top: 46px;
      left: 14px;
    }
  }
}

.gameHead {
  padding: 10px;
  background-image: linear-gradient(#d9f7e9, #f7fcfa);
  border-bottom: 3px solid #42b983;
  margin-bottom: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.imgDiv {
  width: 25%;
  margin: auto;

  img {
    padding-bottom: 20px;

    @media(max-width: 500px) {
      max-width: 50% !important;
      padding-bottom: 0;
    }
  }

  @media(max-width: 500px) {
    width: 50%;
  }
}


.gameFoot {
  padding: 10px;
  background-image: linear-gradient(#d9f7e9, #f7fcfa);
  border-top: 3px solid #42b983;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greenCircle {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: #00b637;
  border: 1px solid black;
  margin: auto;
}

.redCircle {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: #d32a00;
  border: 1px solid black;
  margin: auto;
}

.yellowCircle {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: #b6ae3c;
  border: 1px solid black;
  margin: auto;
}

.greenAnimation {
  animation: greenPulse .3s ease;
}

.redAnimation {
  animation: redPulse .3s ease;
}

.yellowAnimation {
  animation: yellowPulse .3s ease;
}

.measureAnimation {
  animation: measureWiggle 1s ease-in-out;
}

@keyframes greenPulse {
  0% {
    transform: scale(1);
    background: #00b637;
    box-shadow: 0px 0px 0px 0px;
  }

  25% {
    transform: scale(1.3);
    background: #02e446;
    box-shadow: 0px 0px 1px .5px #a8a8a8;
  }

  50% {
    transform: scale(1.5);
    background: #00ff4c;
    box-shadow: 0px 0px 2px 1px #a8a8a8;
  }

  75% {
    transform: scale(1.3);
    background: #02e446;
    box-shadow: 0px 0px 1px .5px #a8a8a8;
  }

  100% {
    transform: scale(1);
    background: #00b637;
    box-shadow: 0px 0px 0px 0px;
  }
}

@keyframes redPulse {
  0% {
    transform: scale(1);
    background: #d32a00;
    box-shadow: 0px 0px 0px 0px;
  }

  25% {
    transform: scale(1.3);
    background: #e72e00;
    box-shadow: 0px 0px 1px .5px #a8a8a8;
  }

  50% {
    transform: scale(1.5);
    background: #fc5329;
    box-shadow: 0px 0px 2px 1px #a8a8a8;
  }

  75% {
    transform: scale(1.3);
    background: #e72e00;
    box-shadow: 0px 0px 1px .5px #a8a8a8;
  }

  100% {
    transform: scale(1);
    background: #d32a00;
    box-shadow: 0px 0px 0px 0px;
  }
}

@keyframes yellowPulse {
  0% {
    transform: scale(1);
    background: #b6ae3c;
    box-shadow: 0px 0px 0px 0px;
  }

  25% {
    transform: scale(1.3);
    background: #dbd249;
    box-shadow: 0px 0px 1px .5px #a8a8a8;
  }

  50% {
    transform: scale(1.5);
    background: #f8ed57;
    box-shadow: 0px 0px 2px 1px #a8a8a8;
  }

  75% {
    transform: scale(1.3);
    background: #dbd249;
    box-shadow: 0px 0px 1px .5px #a8a8a8;
  }

  100% {
    transform: scale(1);
    background: #b6ae3c;
    box-shadow: 0px 0px 0px 0px;
  }
}

@keyframes measureWiggle {
  0% {
    transform: scale(1);
    transform: rotateY(0deg) scale(1);
  }

  25% {
    transform: scale(2);
    transform: rotateY(-55deg) scale(1.5);
  }

  // 50%  {transform: scale(1.5); transform: rotateY(0deg);}
  65% {
    transform: scale(2);
    transform: rotateY(55deg) scale(1.5);
  }

  100% {
    transform: scale(1);
    transform: rotateY(0deg) scale(1);
  }
}
